<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :price %>
    <%= f.input :lastdate %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
