<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @stock.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @stock.price %>
</p>

<p>
  <strong>Lastdate:</strong>
  <%= @stock.lastdate %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
